<div class="row">
    <div class="panel panel-default">
        <div class="panel panel-heading">
            公众号信息
        </div>
        <div class="panel panel-body">
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">AppID</div>
                            <input type="text" class="form-control" disabled="disabled" value="<{$info.AppID}>">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-xs-offset-3">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">AppSecret</div>
                            <input type="text" class="form-control" disabled="disabled" value="<{$info.AppSecret}>">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-xs-offset-3">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">Token</div>
                            <input type="text" class="form-control" disabled="disabled" value="<{$info.Token}>">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-xs-offset-3">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">EncodingAESKey</div>
                            <input type="text" class="form-control" disabled="disabled" value="<{$info.EncodingAESKey}>">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-xs-offset-3">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">开发者地址</div>
                            <input type="text" class="form-control" value="<{$url}>">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
