<form class="form-horizontal" action="<{:U('index')}>" method="get">
    <div class="row">
        <div class="col-xs-5">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">名称</div>
                    <input type="text" class="form-control" value="<{$name}>" name="name" />
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">状态</div>
                    <select name="status" class="form-control">
                        <option value="0">全部</option>
                        <option value="1">上架</option>
                        <option value="2">下架</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-2 ">
            <button type="submit" class="btn btn-primary">搜索</button>
        </div>
    </div>
</form>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            礼物列表
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>礼物ID</th>
                <th>礼物名</th>
                <th>价格</th>
                <th>状态</th>
                <th>库存量</th>
                <th>兑换量</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <volist name="list" id="vo">
                <tr>
                    <td><{$vo.id}></td>
                    <td><{$vo.name}></td>
                    <td><{$vo.price}></td>
                    <td><{$GiftStatus[$vo['status']]}></td>
                    <td><{$vo.left_num}></td>
                    <td><{$vo.sold_num}></td>
                    <td><a href="<{:U('view')}>?id=<{$vo.id}>" >查看</a></td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
    <div><{$page}></div>
</div>