<div class="user-info">
    <div class="avatar avatar__user">
        <img src="<{$Think.session.headimgurl}>" alt="">
    </div>
    <ul class="cpm-hide">
        <li class="user-list_item">
            <span>金豆：</span>
            <span class="value leftCoinNum"><{$Think.session.coin}></span>
            <a>充值</a>
        </li>
        <li class="user-list_item">
            <i class="i i-limit"></i>
            <span>限时抢兑</span></li>
        <li class="user-list_item">
            <i class="i i-star i-star__user"></i>
            <span>我关注的</span>
            <span class="cpm-hide">0</span>
        </li>
        <li class="user-list_item">
            <i class="i i-record"></i>
            <span>竞猜记录</span>
        </li>
        <li class="user-list_item">
            <i class="i i-quest"></i>
            <span>玩法说明</span>
        </li>
        <li class="user-list_item cpm-hide">
            <i class="i i-download"></i>
            <span>APP下载</span>
        </li>
        <li class="user-list_item">
            <i class="i i-home"></i>
            <span>返回娱乐大厅</span>
        </li>
    </ul>
</div>